<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluidos en Angular - Uusalmente en el Common Module.</p>

    <div class="grid">
        <div class="col-4">
            <p-card header="Ventas Netas"
                    subheader="del presente año">
                <i class="pi pi-dollar"></i>
                {{ ventasNetas | number:'1.2-2' }}
            </p-card>
        </div>
        
        <div class="col-4">
            <p-card header="Ventas Brutas"
                    subheader="del presente año">
                {{ ventasNetas | currency:'CAD':'symbol-narrow':'1.4-4' }}
            </p-card>
        </div>

        <div class="col-4">
            <p-card header="Ventas Brutas"
                    subheader="del presente año">
                {{ porcentaje | percent:'1.2-2'}}
            </p-card>
        </div>

    </div>
</div>